<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS算法整理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1215B8651F55043F00CD226B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1215B87E1F55043F00CD226B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1215B8891F55043F00CD226B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
